<h1>Listing teams</h1>

<% @teams.each do |team| %>
<h3><%= team.color %></h3>
<table class="table table-striped">
  <% team.players.order(:gender, :first_name).each do |player| %>
  <tr>
    <td><%= player.name %></td>
  </tr>
  <% end %>
</table>
<% end %>
