<h1>Draft</h1>

<h4><%= @information_string %></h4>

<table class="table table-striped">
  <tr>
    <th>Player</th>
    <th>Age</th>
    <% if @admin %>
      <th>Draft</th>
    <% end %>
  </tr>
  <% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.age %></td>
    <% if @admin %>
      <td><%= link_to 'Draft player', draft_path(:player => player) %></td>
    <% end %>
  </tr>
  <% end %>
</table>
