<h1>Draft</h1>

<h4><%= @information_string %></h4>

<table>
  <tr>
    <th>Player</th>
    <th>Draft</th>
  </tr>
  <% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= link_to 'Draft player', draft_path(:player => player) %></td>
  </tr>
  <% end %>
</table>
